<html>
    <head>
        <title>
            <%= title %>
        </title>

    </head>
    <body>
        <!-- below line isfor partials (partials used when a particular part must be fixed here header and footer is fixed) -->
        <!-- <%- include('_header');%> -->
        <h1> codial / <%= title %> </h1>
        <!-- <%- include('_footer');%> -->
    </body>
</html>