<html>
    <head>
        <title>
            <%= title %>
        </title>

    </head>
    <body>
        <!-- below line isfor partials (partials used when a particular part must be fixed here header and footer is fixed) -->
        <!-- <%- include('_header');%> -->
        <h1> codial / <%= title %> </h1>
        <!-- <%- include('_footer');%> -->

        <section id="feed-posts">
            <h4>Posts</h4>
            <form action="" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3"></textarea>
                <input type="submit" value="POST">
            </form>
        </section>
    </body>
</html>